.quiz-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.quiz-task h1,
.quiz-task h2,
.quiz-task p {
  text-align: center;
}

.days-container {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.day-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(53, 39, 39);
  border: 2px solid rgb(224, 224, 209);
}

.play-status {
  margin: 25px;
  font-size: 12px;
  border: 2px solid rgb(224, 224, 209);
  border-radius: 5px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  color: white;
}

.day-label {
  margin: 40px;
  font-size: 14px;
  color: white;
}

.cancel-container {
  display: flex;

  justify-content: flex-end;
  margin-bottom: 20px;
}

.cancel-icon {
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.cancel-icon:hover {
  color: #f00;
}

.welcome-text {
  color: yellow;
}

.phase-text {
  color: white;
  font-size: 15px;
  margin-top: 10px;
}

.daily-text {
  color: gray;
}
