.ScrambleaWordPlay {
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}
.custom-search {
  position: relative;
  /* width: 300px; */
  margin: 15px 15px;
}
.word-s {
  margin-bottom: 0;
  font-size: 30px;
  color: white;
}
.custom-search-input {
  width: 100%;
  font-size: 14px;
  border: 1px solid #4cf038;
  border-radius: 5px;
  padding: 15px 110px 15px 20px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
  background: black;
}
.custom-search-botton {
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  border: 0;
  background: #03440a;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 5px;
  z-index: 2;
}
.text-heading {
  font-size: 22px;
  background: linear-gradient(
    180deg,
    #fd8d23 -1.34%,
    #fae61c 10.31%,
    #eef73b 20.95%,
    #4cf038 42.23%,
    #33c6f6 65.04%,
    #7475ff 80.74%,
    #d457ff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  user-select: none;
  font-family: mySecondFont;
}
.scramble-count {
  color: rgba(156, 156, 156, 1);
  font-size: 15px;
  margin-top: 20px;
  font-family: myFirstFont;
}
.scramble-wordbox-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
  margin-top: 20px;
}
.scramble-wordbox {
  border-radius: 3.209px;
  background-color: rgba(9, 189, 27, 0.36);
  min-height: 44px;
  width: 41px; /* Ensuring the width is consistent */
  display: flex; /* Aligns content (if any) inside the boxes */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  user-select: none; /* Prevents content from being selectable */
}
.margin {
  margin-top: 40px;
  margin-bottom: 15px;
}
.hint-text {
  text-align: center;
  justify-content: center;
  font-family: myFirstFont;
  padding-top: 0px;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
}
.first-cryptocurrency {
  text-align: center;
  justify-content: center;
  font-family: myFirstFont;
  padding-top: 0px;
  font-size: 20px;
  background: linear-gradient(180deg, #78f239 0%, #549ffb 100%);
  color: transparent;
  user-select: none;
  -webkit-background-clip: text;
  background-clip: text;
}
/* .input-field {
  border-radius: 4px;
  background-color: #121212;
  min-height: 50px;
  width: 290px;
  margin-left: 2px;
  margin-top: 33px;
  border: 1px solid rgba(76, 240, 56, 1);
  display: flex;
  align-items: center;
  pointer-events: fill;
} */
.input-text {
  background-color: #121212;
  border: none;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: start;
  border-radius: 4px;
  min-height: 50px;
  width: 290px;
  border: 1px solid rgba(76, 240, 56, 1);
  pointer-events: fill;
  margin-top: 50px;
  outline: none;
}
