
.quiz-task {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  font-family: myFirstFont;
}

.quiz-task h1,
.quiz-task h2,
.quiz-task p {
  text-align: center;
}

.days-container {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 10px; */
}

.day-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
   width: 290px; 
  height: 45px;
  margin-bottom: 10px;
  border-radius:5px;
  background-color: #212121;
}

.play-status {
  margin: 22px;
  padding: 5px;
  font-size: 14px;
  border: 2px solid #939598;
  /* border-radius: 3px; */
  /* width: 150px; */
  text-align: center;
  cursor: pointer;
  color: #939598;
}

.day-label {
  margin: 20px;
  font-size: 14px;
  color: #0bbb12;
}

.cancel-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.cancel-icon {
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.cancel-icon:hover {
  color: #f00;
}

.welcome-text {
  color: yellow;
  font-family: mySecondFont;
  font-size: 18px;
}

.phase-text {
  color: white;
  font-family: mySecondFont;
  font-size: 14px;
  margin-bottom: 20px;
}
.phase-text1 {
  color: white;
  font-family: myFirstFont;
  font-size: 14px;
  margin-bottom: 20px;
}

.daily-text {
  color: gray;
}
